@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body{
    background-color: antiquewhite;

}
*{
    margin: 0;
    padding: 0;
}
nav{
   font-family: 'Ubantu',sans-serif; 
}
.container {
  min-height: 62vh;
  background-color: black;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  width: 70%;
  margin: 23px auto;
  border-radius: 12px;
  padding: 34px;
  /* background-image: url('https://images.unsplash.com/photo-1511671782779-c97d3d27a1d4'); */
    background-image: url("/assets/bg.jpg");

  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}


nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}
nav li{
    padding: 0 12px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;

}
.brand img{
    padding: 0 8px;
}

.bottom{
    position: sticky;
    height: 120px;
    background-color: black;
    bottom: 0;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.icons{
    margin-top: 15px;
}
.icons i{
    cursor: pointer;
}
#myProgressBar{
    width: 80vw;
}

